# Web framework
fastapi==0.117.1
uvicorn[standard]==0.36.0
mangum==0.19.0

# HTTP Client
httpx>=0.25.0

# Environment
python-dotenv==1.1.1

# Database
supabase>=2.17.0
SQLAlchemy==2.0.43
psycopg2-binary>=2.9.10

# Authentication & Security
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
pydantic==2.11.9
pydantic-settings==2.10.1
pydantic[email]

# AI / ML
langchain==0.3.27
langchain-text-splitters==0.3.9
google-generativeai>=0.3.0
chromadb==1.1.0
tiktoken==0.9.0
nltk==3.9.1
PyMuPDF==1.26.3
orjson==3.11.1
protobuf>=3.19.5,<5.0.0
typing-inspection==0.4.1


# NLP
spacy==3.8.7
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl

# File handling
python-docx==1.2.0
fitz==0.0.1.dev2

# Optional utilities
requests==2.32.4
rich==14.1.0
